# Local
DB_HOST=localhost
DB_PORT=5432
DB_USER=cloudnativeuser
DB_PASSWORD=cloudnativepassword
DB_NAME=cloudnativedb
AUTH_PORT=8080
JWT_SECRET=cloudnative-dev-jwt-secret-change-me

# Production
APP_MODE=production
DATABASE_URL=db_url_from_neon_db
